body{
    background-color:salmon;
}
section{
    background-color: purple;
    padding:10px;
    margin:50px;
    height:800px;

    display: flex;
    flex-direction: row-reverse;
    // justify-content:flex-start;
    align-items: stretch;
}

div{
    flex:1;
    // width:65px;
    // height:65px;
    text-align: center;
    font-size:40px;
    color:white;
    background-color:pink;
    margin:5px;

}